@charset "UTF-8";

*{
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-size:1cm;
}

body {
    background-image: linear-gradient(to right , #106973 , #17A6A6)
}

main {
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #06423c93;
    width:600px;
    padding: 10px;
}

h1 {
    text-align: center;
    color:#d96459;
    text-shadow:1px 1px 2px black;

}

h2 {
    color: #0c3640;
}

p {
    text-align: justify;
}